<div class="row">
  <div class="col-md-12">
    <h1>Bienvenido {{ user.name }}</h1>
  </div>
  <div class="col-md-4">
    @for (task of tasks; track $index) {
      <div class="card">
        <div class="card-body">
          <h3>{{ task.name }}</h3>
          <p>{{ task.description }}</p>
        </div>
        <div class="card-footer">
          {{ task.date | date: "short" }}
        </div>
      </div>
    }
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">Actualizar Usuario</div>
      <div class="card-body">
        <form (submit)="updateUser()">
          <div class="mb-3">
            <input
              value="{{ user.name }}"
              type="text"
              name="name"
              class="form-control"
              placeholder="nombre"
              aria-label="nombre"
              [(ngModel)]="newUser.name"
              autofocus
            />
          </div>
          <div class="mb-3">
            <input
              value="{{ user.password }}"
              type="password"
              name="password"
              class="form-control"
              placeholder="password"
              aria-label="password"
              [(ngModel)]="newUser.password"
              disabled="true"
            />
          </div>
          <div class="mb-3">
            <input
              value="{{ user.email }}"
              type="email"
              name="email"
              class="form-control"
              placeholder="email"
              aria-label="email"
              [(ngModel)]="newUser.email"
            />
          </div>
          @if (errorMessage) {
            <div class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
          }
          @if (successMessage) {
            <div class="alert alert-success" role="alert">
              {{ successMessage }}
            </div>
          }
          <button type="submit" class="btn btn-primary btn-block w-100">
            Actualizar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
